<ul nz-menu nzMode="horizontal">
  <li nz-menu-item nzSelected>
  Bidder
  </li> 
</ul>

<br>
        <div >
            <h1>View Bid</h1>
        </div>
        <br><br>  

        <table class="table align-items-center table-flush">
          <thead class="thead-light">
            <tr>
              <th scope="col">Auction Id</th>
              <th scope="col">Bid Value</th>
              <th scope="col">Owner</th>
          
             
             
            </tr>
          </thead>
      
        <tbody>
          <tr *ngFor="let details of detailss">
            <td>{{details.auctionId}}</td>
            <td>{{details.bidValue}}</td>
            <td>{{details.owner}}</td>
          
      </tr>
      </tbody>
      </table>