<!-- <ul nz-menu nzMode="horizontal">
  <li nz-menu-item nzSelected>
   Auction
  </li>
</ul> -->

<br>
<div class="form-group">
  <h1>View Auction</h1>
</div>
<br>


  <table class="table align-items-center table-flush">
    <thead class="thead-light">
      <tr>
        <th scope="col">Auction Name </th>
        <th scope="col">Items </th>
        <th scope="col">Base Price </th>
        <th scope="col">User Name </th>
        <th scope="col">End Time </th>
        


       
       
      </tr>
    </thead>

  <tbody>
    <tr *ngFor="let details of detailss">
     

      <td>{{details.auctionName}}</td>
      <td>{{details.items}}</td>
      <td>{{details.basePrice}}</td>

      <td>{{details.username}}</td>
      <td>{{details.endTime}}</td>
     

      
</tr>
</tbody>
</table>

