<ul nz-menu nzMode="horizontal">
    <li nz-menu-item nzSelected>
     Auction Department
    </li> 
  </ul>


<br>
<div >
    <h1>View Item</h1>
</div>
<br><br>  

<table class="table align-items-center table-flush">
  <thead class="thead-light">
    <tr>
      <th scope="col">Item Id</th>
      <th scope="col">Name </th>
      <th scope="col">Value </th>
      <th scope="col">Owner</th>
     
     
    </tr>
  </thead>

<tbody>
  <tr *ngFor="let details of detailss">
    <td>{{details.itemId}}</td>
    <td>{{details.name}}</td>
    <td>{{details.value}}</td>
    <td>{{details.owner}}</td>
</tr>
</tbody>
</table>