
<ul nz-menu nzMode="horizontal">
  <li nz-menu-item nzSelected>
   Auction Department
  </li> 
</ul>

<br>

  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
    <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)">
        <div class="form-group">
            <h1>Create Auction</h1>
        </div>

    <div class="form-group">
    <label for="auctionid">Auction Id</label>
    <input type="text" class="form-control" ngModel name="auctionId" required />
    </div>


    <div class="form-group">
    <label for="baseprice">Base Price</label>
    <input type="text" class="form-control" ngModel name="basePrice" required />
    </div>

    <div class="form-group">
        <label for="startingtime">Starting Time</label>
        <input type="text" class="form-control" ngModel name="startTime" required />
        </div>
        <div class="form-group">
            <label for="endingtime">Ending Time</label>
            <input type="text" class="form-control" ngModel name="endTime" required />
            </div>


    <div class="form-group">
        <label for="auctiondetails">Auction Details</label>
        <input type="text" class="form-control" ngModel name="auctionDetails" required />
        </div>


      
    <div class="form-group">
      <label for="auctiondetais">Status</label>
      <input type="text" class="form-control" ngModel name="status" required />
      </div>

                     

    
    
    <div>
    <button class="btn btn-primary" type="submit">Submit</button><br>
    </div>
    
    </form>
    </div>
    </div>




  